doctype html
html(lang='en')
    head
        title COSC203: Birds of Aotearoa
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/styles/layout.css')
        link(rel='stylesheet', href='/styles/theme.css')
        link(rel='stylesheet', href='/styles/404.css')
        script(defer, src='/scripts/populate_form.js')
    body
        include templates/header.pug
        main
            h1#whoops Whoops! This page doesn't exist.
            h3#four 404
            div(id ='linkHome')
                p Would you like to head back 
                    a(href='/') home
                    p ?
        include templates/footer.pug
