doctype html
html(lang='en')
    head
        title COSC203: Birds of Aotearoa create
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/styles/layout.css')
        link(rel='stylesheet', href='/styles/theme.css')
        link(rel='stylesheet', href='/styles/birdPage.css')
        link(rel='stylesheet', href='/styles/create.css')
        script(defer, src='/scripts/populate_form.js')
        //- script(defer, src='/scripts/other.js')
    body
        include templates/header.pug
        aside   
            include templates/homeButton.pug
        main
            
            include templates/create_form.pug
        include templates/footer.pug