doctype html
html(lang='en')
    head
        title COSC203: Birds of Aotearoa create
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/styles/layout.css')
        link(rel='stylesheet', href='/styles/theme.css')
        script(defer, src='/scripts/populate_form.js')
        
    body
        include templates/header.pug
        aside   
            include templates/homeButton.pug
        main
            include templates/edit_form.pug
        include templates/footer.pug