h1 Create A Bird 
div(class='mainCard')
     form(action="/birds/create", method='POST' enctype="multipart/form-data" id='createForm')

        br
        label(for='pName') Primary Name
        br
        input(type='text', name='pName' class='searchbar' id='pName' placeholder='' required)
        br
        label(for='sName') Scientific Name
        br
        input(type='text', name='sName' class='searchbar' id='sName' placeholder='')
        br
        label(for='eName') English Name
        br
        input(type='text', name='eName' class='searchbar' id='eName' placeholder='')
        br
        label(for='oName') Other names
        br
        input(type='text', name='oName' class='searchbar' id='oName' placeholder='')
        br
        label(for='cStatus') Conservation Status
        br
        select(name='cStatus' class='searchbar' id='cStatus' )
            option(selected) Not Threatened 
            option Naturally Uncommon
            option Relict 
            option Recovering 
            option Declining 
            option Nationally Increasing 
            option Nationally Vulnerable 
            option Nationally Endangered 
            option Nationally Critical 
            option Extinct 
            option Data Deficient
                
            
        br
        label(for='fam') Family
        br
        input(type='text', name='fam' class='searchbar' id='fam' placeholder='')
        br
        label(for='ord') Order
        br
        input(type='text', name='ord' class='searchbar' id='ord' placeholder='')
        br
        label(for='height') Length(cm)
        br
        input(type='number', name='height' class='searchbar' id='height' value='0')
        br
        label(for='weight') Weight(g)
        br
        input(type='number', name='weight' class='searchbar' id='weight' value='0')
        br
        label(for='credit') Photo credit
        br
        input(type='text', name='credit' class='searchbar' id='credit' placeholder='')
            
        
        img(id='uploaded_preview', src='/images/default.jpg', alt='Photo of')
        input(type='file' name='myFile' id='fileButton' onchange='onChange()')
            
        button(type='submit' id='createButton') Create Bird
