:root {
    --aside-width: 100%;
}

main {
    display: flex;
    width: 100vw !important;
    gap: 0;
    right: 0 !important;
    text-align: center;
    min-height: 100%;
    margin: 0!important;
    padding: 0 !important;
}

body{
    max-height: 100vh;
}

#whoops{
    line-height: 12vmin;
    font-size: 6vmin;
    width: 100vw;
    height: 15%;
    margin: 0!important;
    padding: 0 !important;
}

#four {
    width: 100vw;
    height: 75%;
    font-size: 58vmin;
    line-height: 65vh;
    opacity: 30%;
    margin: 0!important;
    padding: 0 !important;
}

#linkHome {
    display: flex;
    height: 10%;
    bottom: 50px !important;
    width: 100vw;
    margin: 0!important;
    padding: 0 !important;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

#linkHome *{
    font-size: 3vmin;
    line-height: 3vmin;
    color: #333333;
}