#title {
    font-size: 50px;
    text-align: center;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 50px;
    margin-bottom: 10px;
}

#creds {
    text-align: right;
    margin-top: 0;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    padding-bottom: 10px;
    border-bottom-style: solid;
}

.card-title {
    position: relative;
    margin-right: 0;
}

#infoGrid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    font-size: large;
}

#infoGrid div:nth-child(2n) {
    background-color: rgba(128, 128, 128, 0.171);
}

.bold {
    font-weight: bolder;
}

.circle{
    position: absolute;
    top: -90px;
    width: 60px !important;
    height: 60px !important;
}